/* *************************************************** */
/*                       Fonts                         */
/* *************************************************** */
@font-face {
  font-family: D-DIN-Medium;
  src: url(fonts/D-DIN.woff2) format("woff2"),
    url(fonts/D-DIN.woff) format("woff"),
    url(fonts/D-DIN.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: D-DIN-Light;
  src: url(fonts/D-DIN.woff2) format("woff2"),
    url(fonts/D-DIN.woff) format("woff"),
    url(fonts/D-DIN.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: D-DIN-Bold;
  src: url(fonts/D-DIN-Bold.woff2) format("woff2"),
    url(fonts/D-DIN-Bold.woff) format("woff"),
    url(fonts/D-DIN-Bold.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: D-DIN-Regular;
  src: url(fonts/D-DIN.woff2) format("woff2"),
    url(fonts/D-DIN.woff) format("woff"),
    url(fonts/D-DIN.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

/* *************************************************** */
/*                      Colors                         */
/* *************************************************** */
:root {
  --grey: #a0a0a0;
  --dark-grey: #555;
  --white: #ffffff;
  --black: #050505;
}

/* *************************************************** */
/*                     Elements                        */
/* *************************************************** */
body {
  background-color: var(--grey);
  font: 14px/26px D-DIN-Regular, Arial, Verdana, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  margin: auto 7vw;
  padding-top: 30px;
}

.svg-logo {
  width: 210px;
}

.fill-white {
  fill: var(--white);
}

.nav-menu {
  text-transform: uppercase;
  font: 12px/28px D-DIN-Bold, Arial, Verdana, sans-serif;
  font-weight: 500;
  display: inline-block;
  margin-left: 24px;
  padding-top: 0.4em;
}

.menu-item {
  margin: auto 12px;
}

.menu-item a {
  color: var(--white);
  text-decoration: none;
}

.menu-item a:hover {
  text-decoration: underline;
}

.upcoming-launch {
  height: 100vh; /* 857px; */
  background-size: cover;
  background-position: center center;
  background-image: url("https://sxcontent9668.azureedge.us/cms-assets/assets/Digital_Globe_1_Vertical_1706_Desktop_49a35d7491.jpg");
}

.second-launch {
  background-image: url("https://sxcontent9668.azureedge.us/cms-assets/assets/Homepage_Starlink_SLC_40_Desktop_5b1e6b5dd0.jpg");
}

.inner-section-content {
  color: var(--white);
  margin: 32% 7vw 0;
  text-transform: uppercase;
  font: 18px/38px D-DIN-Medium, Arial, Verdana, sans-serif;
}

.inner-section-content-second {
  color: var(--white);
  margin: 0 7vw 0;
  padding: 34rem 0 0;
  text-transform: uppercase;
  font: 18px/38px D-DIN-Medium, Arial, Verdana, sans-serif;
}

.inner-section-content p,
.inner-section-content-second p {
  margin: 0;
}

h2 {
  font: 42px/50px D-DIN-Bold, Arial, Verdana, sans-serif;
  margin: 0px;
  text-shadow: 0 0 2px var(--dark-grey);
}

.inner-section-content a.btn,
.inner-section-content-second a.btn {
  display: inline-block;
  color: var(--white);
  padding: 0 15px;
  margin: 30px 0 0;
  min-width: 130px;
  border: 2px solid var(--white);
  text-align: center;
  text-decoration: none;
  height: 50px;
  font: 12px/24px D-DIN-Medium, Arial, Verdana, sans-serif;
}

.inner-section-content a.btn:hover,
.inner-section-content-second a.btn:hover {
  background-color: var(--white);
  color: var(--black);
  transition: color 1s cubic-bezier(0.25, 1, 0.25, 1),
    background-color 1s cubic-bezier(0.25, 1, 0.25, 1);
}

.inner-section-content a.btn .text,
.inner-section-content-second a.btn .text {
  display: block;
  margin-top: 12px;
}
